/* Montserrat fonts */

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Futura fonts */

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewExtraBold-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 900
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewLight-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 100
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 500
}

/* Proxima Nova */

@font-face{
    font-family:'Proxima Nova';
    src:url('../fonts/._ProximaNova-Light.eot');
    src:url('../fonts/._ProximaNova-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/._ProximaNova-Light.woff2') format('woff2'),url('../fonts/._ProximaNova-Light.woff') format('woff'),url('../fonts/._ProximaNova-Light.ttf') format('truetype'),url('../fonts/._ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova';
    src:url('../fonts/._ProximaNova-Regular.eot');
    src:url('../fonts/._ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/._ProximaNova-Regular.woff2') format('woff2'),url('../fonts/._ProximaNova-Regular.woff') format('woff'),url('../fonts/._ProximaNova-Regular.ttf') format('truetype'),url('../fonts/._ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova';
    src:url('../fonts/._ProximaNova-Bold.eot');
    src:url('../._ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/._ProximaNova-Bold.woff2') format('woff2'),url('../fonts/._ProximaNova-Bold.woff') format('woff'),url('../fonts/._ProximaNova-Bold.ttf') format('truetype'),url('../fonts/._ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight:700;
    font-style:normal
}