/* general styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-left: 8.5%;
    padding-right: 8.5%; } }
@media (min-width: 1920px) {
  .container {
    width: 1700px;
    padding: 0;
    max-width: 1700px; } }
@media (min-width: 1440px) and (max-width: 1919px) {
  .container {
    width: 1200px;
    padding: 0 10px; } }
@media (min-width: 1221px) and (max-width: 1439px) {
  .container {
    width: 1200px;
    padding: 0 10px; } }
@media (min-width: 1025px) and (max-width: 1220px) {
  .container {
    width: 984px;
    padding: 0 10px; } }
button:focus, input:focus, .btn:focus {
  outline: 0;
  box-shadow: none; }

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

.btn {
  border-radius: 5px; }

.owl-nav.disabled, .owl-dots.disabled {
  display: none; }

/* first style */
.first-body {
  font-family: 'Futura', sans-serif !important;
  /* header style */
  /* main section */ }
  .first-body h1, .first-body h2, .first-body h3, .first-body h4, .first-body h5, .first-body h6 {
    font-weight: 600; }
  .first-body header {
    position: absolute;
    width: 100%;
    z-index: 10; }
    .first-body header.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background-color: #fff;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.05);
      height: 100px; }
      .first-body header.sticky .navbar-brand img {
        width: 120px; }
      .first-body header.sticky #navbarMenu .nav-link {
        color: #000 !important; }
      .first-body header.sticky #navbarMenu .online-order {
        border-color: #000;
        color: #000; }
    .first-body header .navbar-brand img {
      width: 170px; }
    .first-body header #navbarMenu {
      flex-grow: 0; }
      .first-body header #navbarMenu .nav-link {
        color: #fff;
        font-weight: 200;
        font-size: 17px;
        padding: 0 15px !important;
        transition: 300ms all ease; }
        .first-body header #navbarMenu .nav-link:hover {
          color: #3790c8; }
      .first-body header #navbarMenu .online-order {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        margin-left: 15px;
        border-radius: 30px;
        padding: 6px 20px; }
  .first-body #main {
    position: relative;
    height: 100vh; }
    .first-body #main:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(56, 116, 199, 0.6); }
    .first-body #main .container {
      position: relative; }
    .first-body #main .carousel-item {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: cover; }
      .first-body #main .carousel-item .container {
        height: 100vh; }
        .first-body #main .carousel-item .container .carousel-caption {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%);
          left: 0;
          right: auto;
          width: 50%;
          text-align: left;
          padding: 0 15px; }
          .first-body #main .carousel-item .container .carousel-caption h1 {
            font-size: 46px; }
          .first-body #main .carousel-item .container .carousel-caption p {
            font-size: 15px;
            margin: 15px 0 0; }
    .first-body #main .scroll-down {
      position: absolute;
      left: 15px;
      bottom: 50px;
      height: 60px;
      background: url("../img/scroll-icon.png") no-repeat;
      z-index: 10;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .first-body #main .scroll-down:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 8.5px;
        background-color: #fff;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
        animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
        -webkit-animation-name: float_up_down_two;
        animation-name: float_up_down_two;
        -webkit-animation-duration: 5s;
        animation-duration: 5s; }
@-webkit-keyframes float_up_down_two {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(15px);
    transform: rotateX(0deg) translateY(15px); }
  to {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); } }
@keyframes float_up_down_two {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(15px);
    transform: rotateX(0deg) translateY(15px); }
  to {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); } }
      .first-body #main .scroll-down span {
        margin-left: 34px;
        color: #fff;
        font-size: 14px; }

/* second style */
.second-body {
  font-family: 'Montserrat', sans-serif !important;
  /* main section */ }
  .second-body h1, .second-body h2, .second-body h3, .second-body h4, .second-body h5, .second-body h6 {
    font-weight: 600; }
  .second-body h3 {
    font-size: 24px; }
  .second-body .header-wrap {
    position: fixed;
    width: 100%;
    z-index: 99999;
    /* header style */
    /* features section */ }
    .second-body .header-wrap header {
      background-color: #fff;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.05); }
      .second-body .header-wrap header .navbar-brand img {
        height: 55px; }
      .second-body .header-wrap header #navbarMenu {
        flex-grow: 0; }
        .second-body .header-wrap header #navbarMenu .nav-link {
          color: #000;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          padding: 0 10px !important; }
        .second-body .header-wrap header #navbarMenu .online-order {
          background-color: transparent;
          border: 1px solid #1d82aa;
          color: #1d82aa;
          font-size: 14px;
          font-weight: 600;
          margin-left: 10px;
          border-radius: 30px;
          padding: 6px 20px; }
    .second-body .header-wrap #features {
      background-color: #ecf2f8;
      padding: 11px 0; }
      .second-body .header-wrap #features .feature-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .second-body .header-wrap #features .feature-boxes .feature-box {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          font-size: 13px; }
          .second-body .header-wrap #features .feature-boxes .feature-box .icon-box {
            border: 4px solid #fff;
            width: 14px;
            height: 14px;
            background-color: #5f89e4;
            border-radius: 50%;
            margin-right: 10px; }
          .second-body .header-wrap #features .feature-boxes .feature-box .feature {
            font-weight: 600; }
  .second-body #main {
    padding-top: 120px; }
    .second-body #main #mainCarousel {
      position: relative; }
      .second-body #main #mainCarousel:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)); }
      .second-body #main #mainCarousel .carousel-item {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: cover;
        opacity: 0;
        transition: opacity ease-in-out 0.2s; }
        .second-body #main #mainCarousel .carousel-item .container {
          position: relative;
          height: 400px; }
          .second-body #main #mainCarousel .carousel-item .container .carousel-caption {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            left: 80px;
            right: auto;
            width: 50%;
            text-align: left;
            padding: 0 15px;
            z-index: 11; }
            .second-body #main #mainCarousel .carousel-item .container .carousel-caption p {
              font-size: 13px;
              margin: 15px 0;
              -webkit-animation-delay: 1s;
              animation-delay: 1s; }
            .second-body #main #mainCarousel .carousel-item .container .carousel-caption .more-info {
              background-color: #3790c8;
              color: #fff;
              font-size: 12px;
              font-weight: 600;
              padding: 8px 14px;
              box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
              -webkit-animation-delay: 2s;
              animation-delay: 2s;
              transition: 300ms all ease; }
              .second-body #main #mainCarousel .carousel-item .container .carousel-caption .more-info:hover {
                box-shadow: none; }
        .second-body #main #mainCarousel .carousel-item.active {
          opacity: 1; }
      .second-body #main #mainCarousel .carousel-controls {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        z-index: 10; }
        .second-body #main #mainCarousel .carousel-controls .carousel-control-prev {
          left: 15px; }
        .second-body #main #mainCarousel .carousel-controls .carousel-control-next {
          right: 15px; }
        .second-body #main #mainCarousel .carousel-controls .carousel-control-prev, .second-body #main #mainCarousel .carousel-controls .carousel-control-next {
          width: fit-content;
          transition: 300ms all ease; }
          .second-body #main #mainCarousel .carousel-controls .carousel-control-prev .carousel-control-prev-icon, .second-body #main #mainCarousel .carousel-controls .carousel-control-prev .carousel-control-next-icon, .second-body #main #mainCarousel .carousel-controls .carousel-control-next .carousel-control-prev-icon, .second-body #main #mainCarousel .carousel-controls .carousel-control-next .carousel-control-next-icon {
            background-color: transparent;
            background-image: none;
            width: fit-content;
            height: fit-content; }
            .second-body #main #mainCarousel .carousel-controls .carousel-control-prev .carousel-control-prev-icon i, .second-body #main #mainCarousel .carousel-controls .carousel-control-prev .carousel-control-next-icon i, .second-body #main #mainCarousel .carousel-controls .carousel-control-next .carousel-control-prev-icon i, .second-body #main #mainCarousel .carousel-controls .carousel-control-next .carousel-control-next-icon i {
              font-size: 40px;
              transition: 300ms all ease; }
          .second-body #main #mainCarousel .carousel-controls .carousel-control-prev:hover > span > i, .second-body #main #mainCarousel .carousel-controls .carousel-control-next:hover > span > i {
            color: #3790c8; }
  .second-body #about-company article {
    font-size: 14px; }
  .second-body #statistics .statistic-box .statistic span,
  .second-body #areas-use .areas-boxes .box a h6 {
    font-size: 13px; }
  .second-body #areas-use .areas-boxes .box a h6 {
    font-weight: 900; }
  .second-body #areas-use .areas-boxes .box a span {
    font-size: 11px; }
  .second-body #products .see-more a {
    font-size: 10px;
    font-weight: 600; }
  .second-body #advantages .advantages-wrap:before {
    top: 60%; }
  .second-body #advantages .advantages-wrap .advantages-info .info-box h6 {
    font-size: 12px; }
  .second-body footer .online-order {
    font-size: 16px; }
  .second-body footer .footer-menu .nav-link {
    font-size: 14px; }
  .second-body footer .info-contact li:last-child i {
    margin-right: 10px; }
  .second-body footer .info-contact li a {
    font-size: 16px; }
    .second-body footer .info-contact li a i {
      margin-right: 29px; }

/* about section */
#about-company {
  padding: 50px 0; }
  #about-company .about-info {
    padding: 115px 100px 115px 0; }
    #about-company .about-info h3 {
      font-size: 36px;
      margin-bottom: 15px; }
    #about-company .about-info article {
      font-size: 15px; }
  #about-company .about-svg-wrap {
    margin: -12px 0 0 50px;
    position: relative; }
    #about-company .about-svg-wrap .hexagon-svg:nth-child(1) {
      transform: rotate(-30deg) scaleY(0.93);
      filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.1)); }
    #about-company .about-svg-wrap .hexagon-svg:nth-child(2) {
      position: absolute;
      top: -6px;
      left: -1px;
      transform: scale(0.81) rotate(-30deg); }
    #about-company .about-svg-wrap .hexagon-svg:nth-child(3) {
      position: absolute;
      left: 39%;
      transform: rotate(25deg);
      bottom: 11%;
      opacity: .9; }

/* statistics style */
#statistics {
  padding: 70px 0;
  background: url("../img/calsium-carbonate.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: relative; }
  #statistics:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  #statistics .statistic-box {
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10; }
    #statistics .statistic-box i {
      color: #73b2d9;
      font-size: 40px;
      margin-right: 40px; }
    #statistics .statistic-box .statistic {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      line-height: 1; }
      #statistics .statistic-box .statistic:before {
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4); }
      #statistics .statistic-box .statistic strong {
        font-size: 40px;
        color: #73b2d9; }
      #statistics .statistic-box .statistic span {
        color: #fff;
        padding: 5px 0; }

/* areas of use style */
#areas-use {
  padding: 50px 0;
  background-color: #fff; }
  #areas-use h3 {
    text-align: center;
    margin-bottom: 25px; }
  #areas-use .areas-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #areas-use .areas-boxes .box {
      width: calc(20% - 30px);
      margin: 15px;
      position: relative; }
      #areas-use .areas-boxes .box a {
        display: block;
        overflow: hidden;
        color: #262626;
        position: relative; }
        #areas-use .areas-boxes .box a:after {
          content: "";
          position: absolute;
          background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.63));
          width: 100%;
          height: 75px;
          bottom: -20px;
          left: 0;
          transition: 300ms all ease; }
        #areas-use .areas-boxes .box a img {
          width: 100%;
          height: 206px;
          object-fit: cover; }
        #areas-use .areas-boxes .box a h6 {
          position: absolute;
          bottom: 23px;
          left: 0;
          margin: 0;
          width: 100%;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          z-index: 10;
          transition: 300ms all ease; }
        #areas-use .areas-boxes .box a span {
          position: absolute;
          bottom: -35px;
          left: 0;
          margin-bottom: 10px;
          width: 100%;
          font-size: 12px;
          text-align: center;
          z-index: -1;
          text-decoration: underline;
          transition: 300ms all ease; }
        #areas-use .areas-boxes .box a:hover:after {
          bottom: 0; }
        #areas-use .areas-boxes .box a:hover h6 {
          bottom: 35px; }
        #areas-use .areas-boxes .box a:hover span {
          bottom: 0;
          z-index: 10; }

/* products style */
#products {
  padding: 50px 0;
  background-color: #f7f7f9; }
  #products .title-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px; }
    #products .title-row h3 {
      text-transform: uppercase;
      margin-bottom: 0; }
    #products .title-row .see-more {
      margin-bottom: 0; }
      #products .title-row .see-more a {
        color: #000;
        font-size: 14px;
        position: relative; }
        #products .title-row .see-more a:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          display: block;
          background-color: #000;
          -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
        #products .title-row .see-more a:hover:after {
          width: 0; }
  #products .products-carousel .item {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    transition: 300ms all ease;
    margin-bottom: 10px; }
    #products .products-carousel .item:hover {
      -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1); }
    #products .products-carousel .item a {
      display: block; }
      #products .products-carousel .item a .img-wrap {
        height: 315px;
        padding: 20px; }
        #products .products-carousel .item a .img-wrap img {
          object-fit: cover; }
      #products .products-carousel .item a span {
        min-height: 48px;
        max-height: 48px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #262626;
        text-align: center;
        padding: 15px 20px;
        font-size: 13px;
        font-weight: 600; }
  #products .products-carousel .owl-nav.disabled {
    display: block; }
  #products .products-carousel .owl-nav button.owl-next:hover,
  #products .products-carousel .owl-nav button.owl-prev:hover {
    color: #fff;
    background-color: #76d0f3; }
  #products .products-carousel .owl-nav button.owl-next i,
  #products .products-carousel .owl-nav button.owl-prev i {
    position: relative;
    top: 1px;
    font-size: 13px; }

/* advantages style */
#advantages {
  padding: 50px 0;
  background-color: #fff; }
  #advantages .advantages-row {
    position: relative;
    top: 70px; }
    #advantages .advantages-row button {
      background-image: linear-gradient(90deg, #163557, #3790c8);
      color: #fff;
      text-transform: uppercase;
      border-radius: 50px;
      box-shadow: -0.1em -0.09em #163557 inset;
      border: none;
      padding: 8px 40px;
      font-size: 13px;
      font-weight: 600;
      cursor: default;
      position: relative; }
      #advantages .advantages-row button:before {
        content: '';
        position: absolute;
        top: -8%;
        left: -0.9%;
        width: 102%;
        height: 112%;
        border-radius: 50px;
        border: 1px solid #dbdbe3;
        background-color: transparent; }
      #advantages .advantages-row button:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        background: url(../img/next.png) no-repeat;
        background-size: 13px;
        width: 32px;
        height: 13px; }
  #advantages .advantages-wrap {
    position: relative; }
    #advantages .advantages-wrap:before {
      content: '';
      position: absolute;
      top: 58%;
      left: 1.7px;
      width: 82%;
      height: 2px;
      background-color: #dbdbe3; }
    #advantages .advantages-wrap .advantages-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 85px; }
      #advantages .advantages-wrap .advantages-info .info-box {
        width: 170px; }
        #advantages .advantages-wrap .advantages-info .info-box img {
          height: 70px;
          display: block; }
        #advantages .advantages-wrap .advantages-info .info-box .icon-box {
          background: url("../img/hexagon.png") no-repeat;
          background-size: contain;
          position: relative;
          top: 19px;
          left: 23px;
          padding: 12px; }
          #advantages .advantages-wrap .advantages-info .info-box .icon-box span {
            color: #fff;
            font-size: 9px;
            font-weight: 500;
            position: absolute;
            top: 8.8%;
            left: 50%;
            transform: translateX(-50%); }
        #advantages .advantages-wrap .advantages-info .info-box h6 {
          padding: 15px 15px 0 0;
          font-size: 15px;
          font-weight: 500;
          color: #8b8a90;
          position: relative;
          left: 23px; }
        #advantages .advantages-wrap .advantages-info .info-box:nth-child(1) .icon-box span {
          left: 52%; }
        #advantages .advantages-wrap .advantages-info .info-box:nth-child(2) .icon-box span {
          left: 49%; }
        #advantages .advantages-wrap .advantages-info .info-box:nth-child(3) .icon-box span {
          left: 51%; }
        #advantages .advantages-wrap .advantages-info .info-box:nth-child(4) .icon-box span {
          left: 48%; }

/* references style */
#references {
  padding: 50px 0;
  background-color: #f7f7f9; }
  #references h3 {
    text-align: center;
    margin-bottom: 25px; }
  #references .ref-box {
    padding: 15px;
    margin: 15px 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    height: 150px;
    border-radius: 4px;
    cursor: pointer; }
    #references .ref-box img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: grayscale(100%);
      opacity: 0.3;
      transition: 300ms all ease; }
    #references .ref-box:hover img {
      filter: none;
      opacity: 1; }

/* whatsapp style */
#whatsapp-wrapper {
  background-color: #fff;
  padding: 15px 0; }
  #whatsapp-wrapper .whatsapp-wrap {
    background: #93C24F;
    border-radius: 5px;
    height: 100%;
    padding: 20px 40px; }
    #whatsapp-wrapper .whatsapp-wrap i {
      font-size: 60px;
      color: #fff; }
    #whatsapp-wrapper .whatsapp-wrap p {
      margin-bottom: 0;
      color: #fff;
      font-size: 21px;
      text-shadow: 1px 1px 0px #6a6a6a;
      font-weight: 500; }
    #whatsapp-wrapper .whatsapp-wrap .wp-contact {
      color: #777;
      font-size: 17px;
      font-weight: 500;
      background-color: #fff;
      padding: 8px 33px;
      border-radius: 55px;
      text-align: center;
      box-shadow: 0 19px 15px 0 rgba(92, 103, 117, 0.15);
      transition: 300ms all ease-in-out; }
      #whatsapp-wrapper .whatsapp-wrap .wp-contact:hover {
        background-color: #678c34;
        color: #fff; }

/* footer style */
footer {
  padding: 40px 0 30px;
  background-color: #2d3640; }
  footer .online-order {
    color: #54c227;
    border: 2px solid;
    border-radius: 30px;
    margin-top: 30px;
    padding: 8px 20px;
    font-size: 16px; }
  footer .footer-menu {
    padding-top: 83px; }
    footer .footer-menu .nav-link {
      color: #cfd9e2;
      transition: 0.2s ease-in-out; }
      footer .footer-menu .nav-link:hover {
        color: #fff; }
  footer .social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    footer .social-medias li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 15px;
      transition: 300ms all ease; }
      footer .social-medias li:last-child {
        margin-right: 0; }
      footer .social-medias li:hover {
        background-color: #73b2d9; }
      footer .social-medias li a {
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%; }
        footer .social-medias li a i {
          color: #262626;
          transition: 300ms all ease; }
        footer .social-medias li a:hover > i {
          color: #fff;
          transform: rotateY(360deg); }
  footer .info-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    footer .info-contact li {
      width: fit-content;
      margin-top: 16px; }
      footer .info-contact li a {
        color: #fff;
        font-size: 18px; }
        footer .info-contact li a i {
          color: #54c227;
          margin-right: 8px;
          font-size: 15px; }
      footer .info-contact li:not(:last-child) a {
        font-size: 20px;
        font-weight: 600;
        line-height: 0; }
  footer .copyright {
    padding: 30px 15px 0; }
    footer .copyright span {
      color: #cfd9e2;
      font-size: 13px;
      font-weight: 500; }
      footer .copyright span:last-child {
        color: #8b95a1; }

/*# sourceMappingURL=style.css.map */
