/* general styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

button:focus, input:focus, .btn:focus {
  outline: 0;
  box-shadow: none; }

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

.btn {
  border-radius: 5px; }

.owl-nav.disabled, .owl-dots.disabled {
  display: none; }

/* first style */
.first-body {
  font-family: 'Futura', sans-serif !important;
  /* header style */
  /* main section */ }
  .first-body header {
    position: absolute;
    width: 100%;
    z-index: 10; }
    .first-body header #navbarMenu {
      flex-grow: 0; }
    .first-body header .nav-link {
      color: #fff;
      font-weight: 200;
      padding: 0 15px !important;
      transition: 300ms all ease; }
      .first-body header .nav-link:hover {
        color: #3790c8; }
    .first-body header .online-order {
      background-color: #3790c8;
      color: #fff;
      margin-left: 15px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      transition: 300ms all ease; }
      .first-body header .online-order:hover {
        box-shadow: none; }
  .first-body #main {
    position: relative;
    height: 100vh; }
    .first-body #main:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(56, 116, 199, 0.6); }
    .first-body #main .container {
      position: relative; }
    .first-body #main .carousel-item {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: cover; }
      .first-body #main .carousel-item .container {
        height: 100vh; }
        .first-body #main .carousel-item .container .carousel-caption {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%);
          left: 0;
          right: auto;
          width: 50%;
          text-align: left;
          padding: 0 15px; }
          .first-body #main .carousel-item .container .carousel-caption p {
            font-size: 15px;
            margin: 15px 0 0; }
    .first-body #main .scroll-down {
      position: absolute;
      left: 15px;
      bottom: 50px;
      height: 60px;
      background: url("../img/scroll-icon.png") no-repeat;
      z-index: 10;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .first-body #main .scroll-down:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 8.5px;
        background-color: #fff;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
        animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
        -webkit-animation-name: float_up_down_two;
        animation-name: float_up_down_two;
        -webkit-animation-duration: 5s;
        animation-duration: 5s; }
@-webkit-keyframes float_up_down_two {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(15px);
    transform: rotateX(0deg) translateY(15px); }
  to {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); } }
@keyframes float_up_down_two {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(15px);
    transform: rotateX(0deg) translateY(15px); }
  to {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); } }
      .first-body #main .scroll-down span {
        margin-left: 34px;
        color: #fff;
        font-size: 14px; }

/* second style */
.second-body {
  font-family: 'Montserrat', sans-serif !important;
  /* header style */
  /* features section */
  /* main section */ }
  .second-body h1, .second-body h2, .second-body h3, .second-body h4, .second-body h5, .second-body h6 {
    font-weight: 600; }
  .second-body h3 {
    font-size: 24px; }
  .second-body header {
    transition: 300ms all ease; }
    .second-body header.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100; }
    .second-body header #navbarMenu {
      flex-grow: 0; }
    .second-body header .nav-link {
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      padding: 0 10px !important; }
    .second-body header .online-order {
      background-color: #2d75a3;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      margin-left: 10px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      transition: 300ms all ease; }
      .second-body header .online-order:hover {
        box-shadow: none; }
  .second-body #features {
    background-color: #b3daf1;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    transition: 300ms all ease; }
    .second-body #features .feature-boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .second-body #features .feature-boxes .feature-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 13px; }
        .second-body #features .feature-boxes .feature-box .icon-box {
          width: 12px;
          height: 12px;
          background-color: #fff;
          border-radius: 50%;
          margin-right: 10px;
          position: relative; }
          .second-body #features .feature-boxes .feature-box .icon-box:after {
            content: '';
            position: absolute;
            top: 4.1px;
            left: 4px;
            width: 4px;
            height: 4px;
            background-color: #2d75a3;
            border-radius: 50%; }
        .second-body #features .feature-boxes .feature-box .feature {
          font-weight: 600; }
  .second-body #main {
    position: relative;
    height: 400px;
    margin-top: 43.2px; }
    .second-body #main:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)); }
    .second-body #main .carousel-item {
      width: 100%;
      height: 400px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: cover;
      opacity: 0;
      transition: opacity ease-in-out 0.2s; }
      .second-body #main .carousel-item .container {
        position: relative;
        height: 400px; }
        .second-body #main .carousel-item .container .carousel-caption {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%);
          left: 80px;
          right: auto;
          width: 50%;
          text-align: left;
          padding: 0 15px;
          z-index: 11; }
          .second-body #main .carousel-item .container .carousel-caption p {
            font-size: 13px;
            margin: 15px 0;
            -webkit-animation-delay: 1s;
            animation-delay: 1s; }
          .second-body #main .carousel-item .container .carousel-caption .more-info {
            background-color: #3790c8;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            padding: 8px 14px;
            box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            transition: 300ms all ease; }
            .second-body #main .carousel-item .container .carousel-caption .more-info:hover {
              box-shadow: none; }
      .second-body #main .carousel-item.active {
        opacity: 1; }
    .second-body #main .carousel-controls {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      z-index: 10; }
      .second-body #main .carousel-controls .carousel-control-prev {
        left: 15px; }
      .second-body #main .carousel-controls .carousel-control-next {
        right: 15px; }
      .second-body #main .carousel-controls .carousel-control-prev, .second-body #main .carousel-controls .carousel-control-next {
        width: fit-content;
        transition: 300ms all ease; }
        .second-body #main .carousel-controls .carousel-control-prev .carousel-control-prev-icon, .second-body #main .carousel-controls .carousel-control-prev .carousel-control-next-icon, .second-body #main .carousel-controls .carousel-control-next .carousel-control-prev-icon, .second-body #main .carousel-controls .carousel-control-next .carousel-control-next-icon {
          background-color: transparent;
          background-image: none;
          width: fit-content;
          height: fit-content; }
          .second-body #main .carousel-controls .carousel-control-prev .carousel-control-prev-icon i, .second-body #main .carousel-controls .carousel-control-prev .carousel-control-next-icon i, .second-body #main .carousel-controls .carousel-control-next .carousel-control-prev-icon i, .second-body #main .carousel-controls .carousel-control-next .carousel-control-next-icon i {
            font-size: 40px;
            transition: 300ms all ease; }
        .second-body #main .carousel-controls .carousel-control-prev:hover > span > i, .second-body #main .carousel-controls .carousel-control-next:hover > span > i {
          color: #3790c8; }
  .second-body #about-company article {
    font-size: 14px; }
  .second-body #statistics .statistic-box .statistic span,
  .second-body #areas-use .areas-boxes .box a h6 {
    font-size: 13px; }
  .second-body #areas-use .areas-boxes .box a h6 {
    font-weight: 900; }
  .second-body #areas-use .areas-boxes .box a span {
    font-size: 11px; }
  .second-body #products .products-carousel .item a span {
    font-size: 14px;
    font-weight: 600; }
  .second-body #products .see-more a {
    font-size: 10px;
    font-weight: 600; }
  .second-body #advantages .advantages-wrap:before {
    top: 60%; }
  .second-body #advantages .advantages-wrap .advantages-info .info-box h6 {
    font-size: 12px; }
  .second-body footer .online-order {
    font-size: 16px; }
  .second-body footer .footer-menu .nav-link {
    font-size: 14px; }
  .second-body footer .info-contact li:last-child i {
    margin-right: 10px; }
  .second-body footer .info-contact li a {
    font-size: 16px; }
    .second-body footer .info-contact li a i {
      margin-right: 29px; }

/* about section */
#about-company {
  padding: 50px 0; }
  #about-company h3 {
    margin-bottom: 15px; }
  #about-company article {
    font-size: 15px; }
  #about-company .calcium-svg {
    -webkit-clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
    background: rgba(0, 255, 255, 0.12);
    padding: 160px 270px;
    transform: rotate(45deg);
    margin-top: 135px; }
  #about-company .clip-svg {
    width: 0;
    height: 0; }

/* statistics style */
#statistics {
  padding: 70px 0;
  background: url("../img/calsium-carbonate.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: relative; }
  #statistics:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  #statistics .statistic-box {
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10; }
    #statistics .statistic-box i {
      color: #73b2d9;
      font-size: 40px;
      margin-right: 40px; }
    #statistics .statistic-box .statistic {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      line-height: 1; }
      #statistics .statistic-box .statistic:before {
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4); }
      #statistics .statistic-box .statistic strong {
        font-size: 40px;
        color: #73b2d9; }
      #statistics .statistic-box .statistic span {
        color: #fff;
        padding: 5px 0; }

/* areas of use style */
#areas-use {
  padding: 50px 0;
  background-color: #e6e6e6; }
  #areas-use h3 {
    text-align: center;
    margin-bottom: 25px; }
  #areas-use .areas-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #areas-use .areas-boxes .box {
      width: calc(20% - 30px);
      margin: 15px;
      position: relative; }
      #areas-use .areas-boxes .box a {
        display: block;
        overflow: hidden;
        color: #262626;
        position: relative; }
        #areas-use .areas-boxes .box a:after {
          content: "";
          position: absolute;
          background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.63));
          width: 100%;
          height: 75px;
          bottom: -20px;
          left: 0;
          transition: 300ms all ease; }
        #areas-use .areas-boxes .box a img {
          width: 100%;
          object-fit: cover; }
        #areas-use .areas-boxes .box a h6 {
          position: absolute;
          bottom: 23px;
          left: 0;
          margin: 0;
          width: 100%;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          z-index: 10;
          transition: 300ms all ease; }
        #areas-use .areas-boxes .box a span {
          position: absolute;
          bottom: -35px;
          left: 0;
          margin-bottom: 10px;
          width: 100%;
          font-size: 12px;
          text-align: center;
          z-index: -1;
          text-decoration: underline;
          transition: 300ms all ease; }
        #areas-use .areas-boxes .box a:hover:after {
          bottom: 0; }
        #areas-use .areas-boxes .box a:hover h6 {
          bottom: 35px; }
        #areas-use .areas-boxes .box a:hover span {
          bottom: 0;
          z-index: 10; }

/* products style */
#products {
  padding: 50px 0; }
  #products h3 {
    text-align: center;
    margin-bottom: 25px; }
  #products .products-carousel .item {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    transition: 300ms all ease;
    margin-bottom: 10px; }
    #products .products-carousel .item:hover {
      -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777; }
    #products .products-carousel .item a {
      display: block;
      padding: 15px 30px; }
      #products .products-carousel .item a .img-wrap {
        min-height: 200px; }
        #products .products-carousel .item a .img-wrap img {
          object-fit: cover; }
      #products .products-carousel .item a span {
        min-height: 48px;
        max-height: 48px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #262626;
        text-align: center; }
  #products .products-carousel .owl-nav.disabled {
    display: block; }
  #products .products-carousel .owl-nav button.owl-next,
  #products .products-carousel .owl-nav button.owl-prev {
    border-color: #e8e8e8;
    top: 38%; }
    #products .products-carousel .owl-nav button.owl-next:hover,
    #products .products-carousel .owl-nav button.owl-prev:hover {
      color: #fff;
      background-color: #76d0f3; }
    #products .products-carousel .owl-nav button.owl-next i,
    #products .products-carousel .owl-nav button.owl-prev i {
      position: relative;
      top: 1px;
      font-size: 13px; }
  #products .see-more {
    text-align: center;
    margin-top: 50px; }
    #products .see-more a {
      border: 2px solid #73b2d9;
      background-color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      padding: 10px 30px 9px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 rgba(0, 0, 0, 0);
      transition: 300ms all ease; }
      #products .see-more a:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset, 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); }

/* advantages style */
#advantages {
  padding: 50px 0;
  background-color: #e6e6e6; }
  #advantages .advantages-row {
    position: relative;
    top: 70px; }
    #advantages .advantages-row button {
      background-image: linear-gradient(90deg, #163557, #3790c8);
      color: #fff;
      text-transform: uppercase;
      border-radius: 50px;
      box-shadow: -0.1em -0.09em #163557 inset;
      border: none;
      padding: 8px 40px;
      font-size: 13px;
      font-weight: 600;
      cursor: default;
      position: relative; }
      #advantages .advantages-row button:before {
        content: '';
        position: absolute;
        top: -8%;
        left: -0.9%;
        width: 102%;
        height: 112%;
        border-radius: 50px;
        border: 1px solid #ccc;
        background-color: transparent; }
  #advantages .advantages-wrap {
    position: relative; }
    #advantages .advantages-wrap:before {
      content: '';
      position: absolute;
      top: 58%;
      left: 1.7px;
      width: 80%;
      height: 2px;
      background-color: #ccc; }
    #advantages .advantages-wrap .advantages-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 100px; }
      #advantages .advantages-wrap .advantages-info .info-box {
        width: 170px; }
        #advantages .advantages-wrap .advantages-info .info-box img {
          height: 70px;
          display: block; }
        #advantages .advantages-wrap .advantages-info .info-box .icon-box {
          background: url("../img/hexagon.png") no-repeat;
          background-size: contain;
          position: relative;
          top: 16px;
          padding: 12px; }
          #advantages .advantages-wrap .advantages-info .info-box .icon-box span {
            color: #fff;
            font-size: 10px;
            font-weight: 500;
            position: absolute;
            top: 12%;
            left: 50%;
            transform: translateX(-50%); }
        #advantages .advantages-wrap .advantages-info .info-box h6 {
          padding: 15px 15px 0 0;
          font-size: 15px; }

/* references style */
#references {
  padding: 50px 0; }
  #references h3 {
    text-align: center;
    margin-bottom: 25px; }
  #references .ref-box {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #e6e6e6;
    height: 150px;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms all ease; }
    #references .ref-box:hover {
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4); }
    #references .ref-box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/* footer style */
footer {
  padding: 50px 0;
  background-color: #163557; }
  footer .online-order {
    background-color: #3790c8;
    color: #fff;
    margin-top: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transform: perspective(40em) rotateX(50deg);
    transform: perspective(40em) rotateX(50deg);
    padding: 15px;
    font-size: 18px; }
    footer .online-order:hover {
      color: #fff; }
  footer .footer-menu {
    padding-top: 83px; }
    footer .footer-menu .nav-link {
      color: #cfd9e2; }
  footer .social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    footer .social-medias li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 15px;
      transition: 300ms all ease; }
      footer .social-medias li:last-child {
        margin-right: 0; }
      footer .social-medias li:hover {
        background-color: #73b2d9; }
      footer .social-medias li a {
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%; }
        footer .social-medias li a i {
          color: #262626;
          transition: 300ms all ease; }
        footer .social-medias li a:hover > i {
          color: #fff;
          transform: rotateY(360deg); }
  footer .info-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    footer .info-contact li {
      width: fit-content;
      margin-top: 16px; }
      footer .info-contact li a {
        color: #fff;
        font-size: 18px; }
        footer .info-contact li a i {
          color: #73b2d9;
          margin-right: 15px;
          font-size: 15px; }
      footer .info-contact li:last-child a i {
        margin-right: 24px; }
  footer .copyright {
    padding: 40px 15px 0; }
    footer .copyright span {
      color: #cfd9e2;
      font-size: 13px;
      font-weight: 500; }

/*# sourceMappingURL=style.css.map */
