/* general style */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FTN_medium';
    color: #212121;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'FTN_heavy';
}

button:focus, input:focus, textarea:focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    color: #212121;
}

.owl-nav.disabled, .owl-dots.disabled {
    display: none;
}
.dropdown-menu-wrap {
    .dropdown-toggle {
        position: relative;
        padding: 16px 20px 16px 12px !important;
        &::after {
            content: '';
            background: url('../img/down-arrow.png') no-repeat;
            border: none;
            background-size: 6px;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 43%;
        }
    }

    .dropdown-menu {
        top: calc(100% - 2px);
        display: block;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        transform: scale(1, 0);
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: 5px 10px 20px rgba(14,42,71,.25);
        -moz-box-shadow: 5px 10px 20px rgba(14,42,71,.25);
        box-shadow: 5px 10px 20px rgba(14,42,71,.25);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transition: all 200ms ease-in-out 0s;
        -moz-transition: all 200ms ease-in-out 0s;
        -o-transition: all 200ms ease-in-out 0s;
        transition: all 200ms ease-in-out 0s;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: 20px;
            width: 0;
            height: 0;
            border-top: 5px solid #fbfbf8;
            border-right: 5px solid #fbfbf8;
            border-bottom: 5px solid transparent;
            border-left: 5px solid transparent;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            mix-blend-mode: multiple;
        }

        .dropdown-item {
            font-size: 14px;
            padding: 10px 32px;
            &:hover, &:focus {
                background-color: #fbfbf8;
            }
            &.active, &:active {
                background-color: transparent;
            }
        }
    }

    &:hover {
        .dropdown-toggle {
            &::after {
                background: url('../img/down-arrow-grey.png') no-repeat;
                background-size: 6px;
            }
        }

        .dropdown-menu {
            display: block;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
}

.title-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 22px;
    }
    .see-more {
        margin-bottom: 0;
        a {
            font-size: 14px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                display: block;
                background-color: #000;
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            &:hover:after {
                width: 0;
            }
        }
    }
}

.carousel-control-prev {
    right: 150px;
    left: auto;
}

.carousel-control-next {
    right: 100px;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
    height: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent;
    background-image: none;
}


/* header */
header {
    border-top: 20px solid #f5f0e9;
    background-color: #fbfbf8;
    padding: 10px 0;
    -webkit-transition: 500ms all ease;
    -moz-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        -webkit-box-shadow: 0px 2px 4px 2px rgba(223, 223, 223, 0.62);
        -moz-box-shadow: 0px 2px 4px 2px rgba(223, 223, 223, 0.62);
        box-shadow: 0px 2px 4px 2px rgba(223, 223, 223, 0.62);
    }
    nav {
        .navbar-brand {
            margin-right: 20px;
            img {
                width: 100px;
            }
        }
        .navbar-toggler {
            padding: 0;
            border: none;
            margin: -17px;
        }
        .menu-wrap {
            width: 60px;
            height: 60px;
            display: flex;
            cursor: pointer;
            -webkit-transition: transform 300ms ease-out;
            -moz-transition: transform 300ms ease-out;
            -o-transition: transform 300ms ease-out;
            transition: transform 300ms ease-out;
            flex-flow: column wrap;
            align-items: center;
            align-content: center;
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            .line-menu {
                width: 17px;
                height: 2px;
                margin: 10px 0 5px;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                background-color: #bfbfbf;
                transition: 500ms;
                transform-origin: right center;
                &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    transform-origin: left center;
                }
                &:nth-child(2) {
                    width: 10px;
                    position: relative;
                    right: -4px;
                }
            }
            &.opened {
                .line-menu {
                    &:nth-child(1) {
                        transform: translateY(17px) rotate(45deg);
                    }
                    &:nth-child(2), &:nth-child(5) {
                        transform: scale(0);
                    }
                    &:nth-child(3) {
                        transform: translateY(-17px) rotate(-45deg);
                    }
                    &:nth-child(4) {
                        transform: translateY(17px) rotate(-45deg);
                    }
                    &:nth-child(6) {
                        transform: translateY(-17px) rotate(45deg);
                    }
                }
            }
        }

        #navbarMenu {
            .title-menu {
                position: absolute;
                top: 52px;
                left: 37px;
                text-transform: uppercase;
                color: #fff;
                font-family: 'FTN_medium';
                font-size: 24px;
                display: none;
            }
            .menu-wrap {
                position: absolute;
                top: 40px;
                right: 15px;
                display: none;
            }
            .nav-item {
                .nav-link {
                    font-family: 'FTN_demi';
                    font-size: 15px;
                    padding: 16px 12px;
                    text-transform: uppercase;
                    -webkit-transition: 300ms all ease;
                    -moz-transition: 300ms all ease;
                    -o-transition: 300ms all ease;
                    transition: 300ms all ease;
                    &:hover {
                        color: #bfbfbf;
                    }
                }
                &.active {
                    .nav-link {
                        color: #bfbfbf;
                    }
                }
                &.lang-mobile {
                    display: none;
                }
            }
        }

        .lang-wrapper {
            display: flex;
            align-items: center;
            margin-left: 30px;
            margin-right: 16px;
            position: relative;
            .active-lang {
                display: flex;
                align-items: center;
                background-color: #fbfbf8;
                position: relative;
                z-index: 2;
                a {
                    color: #222;
                    border: 1px solid #fbfbf8;
                    padding: 6px 6px 3px;
                    i {
                        margin-right: 6px;
                    }
                }
            }
            .other-langs-wrap {
                display: none;
                position: absolute;
                right:0;
                z-index: 1;
                background-color: #bfbfbf;
                .other-langs {
                    display: flex;
                    align-items: center;
                    a {
                        padding: 6px 6px 3px;
                        border: 1px solid #f5f0e9;
                        background-color: #f5f0e9;
                        color: #000;
                        -webkit-transition: 300ms all ease;
                        -moz-transition: 300ms all ease;
                        -o-transition: 300ms all ease;
                        transition: 300ms all ease;
                        &:hover {
                            background-color: #fff;
                        }
                    }
                }
            }
        }

        .price-order {
            position: relative;
            padding-left: 50px;
            padding-right: 0;
            transition-duration: .3s;
            transition-timing-function: ease;
            transition-property: color;
            letter-spacing: 1px;
            font-size: 12px;
            background-color: #f5f0e9;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            &::before, &::after {
                content: "";
                display: block;
                width: 40px;
                height: 1px;
                position: absolute;
                top: calc(50% - 1px);
                left: 0;
                margin-right: 10px;
                background-color: #3d3d3d;
            }
            &::after {
                left: 0;
                width: 0;
                background-color: #e4e4e4;
                transition-duration: .3s;
                transition-timing-function: ease;
                transition-property: width;
            }
            &:hover {
                color: #e4e4e4;
            }
            &:hover:after {
                width: 40px;
            }
        }
    }
}


/* second design header */
.second-design header {
    border-top: none;
    padding: 12.92px 0;
    background-color: #fff;
    nav .lang-wrapper {
        .active-lang a {
            padding: 3px 6px;
        }
        .other-langs-wrap .other-langs a {
            padding: 3px 6px;
        }
    }
}

/* main */

#main {
    position: relative;
    height: 565px;
    cursor: pointer;
    .container {
        position: relative;
    }
    .carousel {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.55);
        }
        .carousel-item {
            width: 100%;
            height: 565px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-size: cover;
            .container {
                height: 565px;
                .carousel-caption {
                    top: 50%;
                    bottom: auto;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    left: auto;
                    right: auto;
                    width: 50%;
                    text-align: left;
                    h1 {
                        font-size: 46px;
                        line-height: 1.2;
                    }
                    p {
                        font-size: 15px;
                        margin: 15px 0 0;
                    }
                }
            }
        }
    }
    .navs-slider {
        position: absolute;
        width: 100%;
        height: 565px;
        top: 0;
        left: 0;
        .container {
            height: 565px; 
            i {
                font-size: 30px;
            }
        }
    }
    .right-sec {
        position: absolute;
        top: 0;
        right: 0;
        width: 102px;
        height: 100%;
        background-color: #fbfbf8;
        z-index: 100;
        h5 {
            position: absolute;
            -webkit-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
            -ms-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
            transform: rotate(-90deg) translateX(-50%) translateY(-50%);
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            left: 50%;
            top: 50%;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            padding-right: 60px;
            padding-left: 60px;
            color: #eaeaea;
            font-size: 34px;
            font-family: 'FTN_heavy';
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }
}

.second-design #main {
    height: 525px;
    .carousel {
        .carousel-item {
            height: 525px;
            .container {
                height: 525px;
            }
        }
    }
    .navs-slider {
        height: 525px;
        .container {
            height: 525px; 
        }
    }
}



/* portfolio */

#portfolio {
    padding: 50px 0;
    .box-wrap {
        margin: 15px 0;
        a {
            display: block;
            .img-wrap {
                height: 238px;
                position: relative;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    bottom: 10px;
                    border-bottom: 1px solid #fff;
                    box-sizing: border-box;
                    -webkit-transition: .5s ease;
                    -moz-transition: .5s ease;
                    -o-transition: .5s ease;
                    transition: .5s ease;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    opacity: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    will-change: transform;
                    -webkit-transform: scale(1.05);
                    transform: scale(1.05);
                    -webkit-transition: .5s all ease;
                    -moz-transition: .5s all ease;
                    -o-transition: .5s all ease;
                    transition: .5s all ease;
                }
            }
            .title-wrap {
                h5 {
                    position: relative;
                    line-height: 1.3;
                    margin: 16px 0 0 0;
                    padding: 0 48px 0 0;
                    font-size: 16px;
                    &::after {
                        content: '';
                        width: 32px;
                        position: absolute;
                        right: 0;
                        top: 14.4px;
                        height: 1px;
                        border-bottom: 1px solid #000;
                    }
                }
            }
            &:hover {
                .img-wrap {
                    &::before {
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                        opacity: 1;
                        z-index: 1;
                    }
                    img {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
                .overlay-effect {
                    opacity: 1;
                }
            }
        }
    }
}

#about {
    .back-wrapper {
        position: relative;
        .cover-about {
            width: 100%;
            height: 850px;
            position: relative;
            overflow: hidden;
            .cover-img {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url('../img/slide1.jpg') no-repeat;
                background-position: center;
                background-size: 250%;
                will-change: transform;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                    z-index: 1;
                }
            }
            .content-wrap {
                position: absolute;
                top: 24%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                text-align: center;
                width: 100%;
                z-index: 10;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0) 100%);
                padding: 30px 0;
                h1 {
                    text-transform: uppercase;
                    font-size: 34px;
                    font-weight: bold;
                    line-height: normal;
                    width: 80%;
                    margin: 0 auto;
                }
                p {
                    font-size: 17px;
                    width: 42%;
                    margin: 20px auto 0;
                }
            }
        }
        .about-img-wrap {
            width: 33vw;
            height: 36vw;
            width: 614px;
            height: 670px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
            will-change: transform;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 1;
            }
            .about-img {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url('../img/about-img.jpg') no-repeat;
                background-position: center;
                background-size: 250%;
                will-change: transform;
            }
        }
        // .overlay-img {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(0, 0, 0, 0.3);
        // }
        article {
            padding: 250px 0 20px;
            text-align: center;
        }
        .all-info {
            position: relative;
            display: block;
            text-align: center;
            width: fit-content;
            margin: 0 auto 30px;
            font-weight: 600;
            -webkit-transition: 300ms all ease-in-out;
            -moz-transition: 300ms all ease-in-out;
            -o-transition: 300ms all ease-in-out;
            transition: 300ms all ease-in-out;
            &::before, &::after {
                content: '';
                position: absolute;
                top: 27px;
                width: 50%;
                height: 1px;
                border-bottom: 1px dashed #212121;
                -webkit-transition: 300ms all ease-in-out;
                -moz-transition: 300ms all ease-in-out;
                -o-transition: 300ms all ease-in-out;
                transition: 300ms all ease-in-out;
            }
            &::before {
                left: 50%;
            }
            &::after {
                right: 50%;
            }
            &:hover {
                &::before, &::after {
                    width: 20px;
                }
            }
        }
    }
}

/* services */
#services {
    padding: 70px 0;
    .service-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        .service {
            margin: 2px;
            position: relative;
            height: 300px;
            width: calc(33.33% - 4px);
            a {
                display: block;
                height: 100%;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    -webkit-transition: 300ms background ease-in-out;
                    -moz-transition: 300ms background ease-in-out;
                    -o-transition: 300ms background ease-in-out;
                    transition: 300ms background ease-in-out;
                }
                &:hover::before {
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-child(1) {
                width: calc(50% - 4px);
                height: 400px;
                margin: 2px;
                background-color: #fbe100;
                .text-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    h3 {
                        color: #212121;
                        font-size: 24px;
                        // font-family: "Proxima Nova", "Times New Roman", "Times", "Baskerville", "Georgia", serif;
                        padding: 0 32px;
                        font-weight: 700;
                        line-height: 1.5;
                        margin: 16px 0;
                    }
                    p {
                        display: inline-block;
                        font-size: 12px;
                        letter-spacing: 3.54px;
                        text-transform: uppercase;
                        border-bottom: 1px solid #000;
                        background-color: transparent!important;
                        font-weight: 700;
                        padding: 0 0 8px;
                        &::before {
                            content: none;
                        }
                    }
                }
            }
            .service-text {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 24px;
                // font-family: "Proxima Nova", "Times New Roman", "Times", "Baskerville", "Georgia", serif;
                letter-spacing: -.9px;
                font-weight: 700;
                line-height: 1.1;
                text-align: center;
                padding: 0 32px;
            }
        }
        .service-wrap {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            align-items: center;
            justify-content: center;
            .service {
                width: calc(50% - 4px);
                height: 198px;
                margin: 2px;
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
}

/* references */
#references {
    padding: 50px 0;
    .custom-container {
        padding: 0 8.6%;
        .description {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            h1 {
                font-size: 42px;
                font-weight: bold;
            }
            p {
                margin: 62px 0;
            }
        }
        .ref-wrap {
            margin: 27px 0px 11px 0;
            .ref-box {
                height: 90px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center center;
                    filter: grayscale(100%);
                    opacity: 0.3;
                    -webkit-transition: 300ms all ease;
                    -moz-transition: 300ms all ease;
                    -o-transition: 300ms all ease;
                    transition: 300ms all ease;
                }
                &:hover {
                    img {
                        filter: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* newness */
#newness {
    padding: 50px 0;
    .info-box {
        position: relative;
        a {
            display: block;
            .img-wrap {
                height: 260px;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    will-change: transform;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }
            .title-wrap {
                padding-top: 12px;
                h6 {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    color: rgb(255, 1, 64);
                    letter-spacing: 0.5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 1;
                }
                h5 {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.22;
                    margin: 5px 0 0;
                }
                p {
                    font-size: 12px;
                    color: #8d8686;
                    margin: 16px 0 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
        .wishlistIcon {
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            background: rgb(255, 255, 255);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-transform: translate3d(0px, 0px, 0px); 
            transform: translate3d(0px, 0px, 0px); 
            svg {
                path {
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: rgb(18, 20, 22);
                    }
                }
            }
            &.mark {
                svg {
                    path {
                        fill: rgb(18, 20, 22);
                    }
                }
            }
        }
        &:hover {
            .img-wrap {
                img {
                    -webkit-transform: scale(1.12);
                    transform: scale(1.12);
                }
            }
        }
    }
    .info-box-wrapper {
        display: flex;
        flex-direction: column;
        .info-box {
            &:first-child {
                margin-bottom: 7px;
            }
            &:last-child {
                margin-top: 7px;
            }
            a {
                display: flex;
                padding-left: 15px;
                .img-wrap {
                    height: 120px;
                    width: 50%;
                }
                .title-wrap {
                    width: 50%;
                    padding: 0 15px;
                    h5 {
                        font-size: 14px;
                        line-height: 1.29;
                    }
                }
            }
            .wishlistIcon {
                right: calc(50% + 3px);
            }
        }
    }
}

/* price order modal */
.order-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999999999;
    overflow-y: hidden;
}

.order-modal-wrapper .order-modal {
    width: 400px;
    height: max-content;
    background-color: #fff;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-modal-wrapper .order-modal .modal-head {
    padding: 22px;
    color: #f6d9b1;
    font-weight: 600;
    background-color: #000;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    position: relative;
    text-transform: uppercase;
    span {
        position: relative;
        &::before {
            content: '';
            position: relative;
            top: 3px;
            background: url(../img/note.png) no-repeat;
            background-size: 32px;
            font-size: 28px;
            height: 100%;
            width: 32px;
            padding-right: 40px;
        }
    }
}

.order-modal-wrapper .order-modal .modal-head .close {
    position: absolute;
    top: -10px;
    right: 7px;
    background-color: #eaeaea;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-modal-wrapper .order-modal .modal-body {
    padding: 25px 50px; 
}

/* social media */
#social-media {
    background-color: #fbfbf8;
    padding: 60px 0;
    h2 {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 60px;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: center;
        li {
            margin: 0 35px;
            float: left;
            a {
                display: block;
                text-align: center;
                i {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
                span {
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }
}

/* map section */
#map-wrapper {
    width: 100%;
    height: 700px;
    position: relative;
    #map {
        width: 70%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(229, 227, 223);
    }
    .contact-info-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: -moz-linear-gradient(left, white 0%, white 68%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(left, white 0%, white 68%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-gradient(linear, left top, right top, from(white), color-stop(68%, white), to(rgba(255, 255, 255, 0)));
        background: -o-linear-gradient(left, white 0%, white 68%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to right, white 0%, white 68%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        .contact-info {
            padding: 50px 20px 0px 20px;
            border-color: #eaeaea;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translateY(-50%);
            h2 {
                font-size: 28px;
                color: #383838;
                font-weight: bold;
                letter-spacing: 0px;
                line-height: 1.2;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -18px;
                    left: 0;
                    width: 100%;
                    max-width: 40px;
                    border-bottom: 2px solid #3a3a3a;
                }
            }
            address {
                margin: 50px 0 20px;
                color: #788088;
            }
            ul {
                li {
                    float: left;
                    a {
                        color: #788088;
                    }
                    &:nth-child(2) {
                        margin-left: 30px;
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/* footer */
footer {
    border-top: 1px solid #DFDFDF;
    padding: 17.5px 0;
    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .navbar-brand {
            img {
                width: 70px;
            }
        }
        span {
            font-size: 13px;
            line-height: 2.67;
            color: #111;
            a {
                margin-left: 5px;
            }
            &.copyright {
                font-size: 14px;
                line-height: 2.3;
                color: rgba(120, 128, 136, 0.6);
            }
        }
    }
}

/* form style */
.form {
    .input-block {
        background-color: rgba(255, 255, 255, 0.8);
        border: solid 1px #edc790;
        width: 100%;
        height: 40px;
        padding: 25px;
        position: relative;
        margin-bottom: 20px;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        label {
            padding: 0 10px;
            background: #fff;
            position: absolute;
            left: 8px;
            top: 20px;
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: #999;
            font-size: 18px;
            line-height: 10px;
        }
        .form-control {
            background-color: transparent;
            border: medium none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: #212121;
            font-size: 18px;
            padding: 0;
            position: relative;
            z-index: 2;
        }
        input {
            height: 40px;
            top: -20px;
        }
        &.textarea-block {
            height: auto;
            padding: 0;
            textarea {
                padding: 10px 25px 25px;
            }
        }
        &.focus {
            background-color: #fff;
            border: solid 1px #edc790;
        }
    }
    .submit-btn {
        color: #f6d9b1;
        background-color: #000;
        padding: 10px 35px;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &:hover {
            background-color: rgba(0, 0, 0, .8);
        }
    }
}





/* Responsive */

// @media screen and (max-width: 1912px) {
//     #about .back-wrapper {
//         .cover-about .content-wrap {
//             h1 {
//                 width: 85%;
//             }
//             p {
//                 width: 45%;
//             }
//         }
//     }
// }

@media screen and (max-width: 1800px) {
    #about .back-wrapper .about-img-wrap {
        top: 27%;
    }
}

@media screen and (max-width: 1400px) {
    #about .back-wrapper .cover-about .content-wrap {
        h1 {
            font-size: 32px;
            width: 82%;
        }
        p {
            font-size: 16px;
            width: 45%;
        }
    }
}

@media screen and (max-width: 1199.98px) {
    #about .back-wrapper {
        .about-img-wrap {
            width: 530px;
        }
        .cover-about .content-wrap {
            h1 {
                font-size: 28px;
            }
            p {
                width: 64%;
            }
        }
    }

    #map-wrapper .contact-info-wrap {
        background: -moz-linear-gradient(left, white 0%, white 82%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(left, white 0%, white 82%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-gradient(linear, left top, right top, from(white), color-stop(82%, white), to(rgba(255, 255, 255, 0)));
        background: -o-linear-gradient(left, white 0%, white 82%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to right, white 0%, white 82%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        .contact-info {
            left: 14%;
        }
    }
}


@media screen and (min-width: 991.98px) and (max-width: 1199.98px) {
    header nav #navbarMenu .nav-item .nav-link {
        font-size: 13px;
        padding: 16px 10px;
    }
}


@media screen and (max-width: 991.98px) {
    header {
        nav {
            .lang-wrapper {
                display: none;
            }
            #navbarMenu {
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .8);
                z-index: 9999999999;
                overflow-y: hidden;
                .navbar-nav {
                    padding-top: 130px;
                    width: 60%;
                    height: 100%;
                    background-color: #262626;
                    position: absolute;
                    top: 0;
                    right: -100%;
                    overflow-y: scroll;
                    padding-bottom: 30px;
                    .title-menu {
                        display: inline-block;
                    }
                    .menu-wrap {
                        display: flex;
                    }
                    li {
                        display: block !important;
                        position: relative;
                        .nav-link {
                            color: #fff;
                            padding: 20px 37px !important;
                            &:hover {
                                color: #fff;
                            }
                        }
                        &.active {
                            .nav-link {
                                color: #fff;
                            }
                        }
                        &.lang-mobile {
                            display: flex!important;
                            justify-content: center;
                            padding: 37px !important;
                            .nav-link {
                                display: inline-block;
                                padding: 8px 30px !important;
                                border: 1px solid #fff;
                                margin: 3px;
                                &.active, &:hover {
                                    background-color: #fff;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            .price-order {
                position: absolute;
                right: 75px;
            }
        }
    }

    .dropdown-menu-wrap {
        .dropdown-menu {
            top: 0;
            display: none;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
            margin: 0 37px;
        }
        &:hover {
            .dropdown-menu {
                display: none;
            }
            .dropdown-toggle {
                &::after {
                    background: url('../img/down-arrow-white.png') no-repeat;
                    background-size: 6px;
                }
            }
        }
        &.show {
            .dropdown-menu {
                display: block;
            }
        }
        .dropdown-toggle {
            &::after {
                background: url('../img/down-arrow-white.png') no-repeat;
                background-size: 6px;
            }
        }
    }

    #main .carousel-item .container .carousel-caption {
        width: 55%;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 14px;
        }
    }

    #services .service-wrapper .service {
        .service-text {
            font-size: 20px;
            padding: 0 25px;
        }
        &:nth-child(1) {
            .text-content h3 {
                font-size: 20px;
                padding: 0 25px;
            }
        }
    }

    #about .back-wrapper {
        .cover-about {
            height: 650px;
            .content-wrap h1 {
                font-size: 24px;
            }
        }
        .about-img-wrap {
            width: 450px;
            height: 550px;
            top: 24%;
        }
    }

    #references .custom-container .description {
        width: 80%;
    }

    #newness {
        .info-box {
            margin: 15px 0;
            a {
                .title-wrap {
                    p {
                        -webkit-line-clamp: 4;
                    }
                }
            }
        } 
    }
}

@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
    #references .custom-container .ref-wrap {
        width: 20%;
        max-width: 100%;
        flex: none;
    }
}


@media screen and (max-width: 767.98px) {
    header #navbarMenu .navbar-nav {
        width: 80% !important;
    }

    #main .carousel-item .container .carousel-caption {
        width: 70%;
        h1 {
            font-size: 38px;
        }
    }

    #services .service-wrapper {
        .service {
            width: calc(50% - 4px);
            height: 130px;
            &:nth-child(1), &:last-child {
                width: 100%;
            }  
            &:nth-child(1) {
                height: 260px;
            }
        }
        .service:nth-child(1) {
            width: 100%;
        }
        .service-wrap {
            width: 100%; 
            .service {
                width: calc(50% - 4px);
                height: 130px;
            }
        }
    }

    #about .back-wrapper {
        .about-img-wrap {
            width: 380px;
            height: 500px;
            .about-img {
                background-size: 340%;
            }
        }
        .cover-about {
            .cover-img {
                background-size: 340%;
            }
            .content-wrap {
                h1 {
                    width: 86%;
                    font-size: 20px;
                }
                p {
                    width: 70%;
                    font-size: 15px;
                }
            }
        }
        article {
            padding: 180px 0 20px;
        }
    }    

    #references .custom-container .description {
        width: 100%;
    }

    #newness .info-box-wrapper .info-box a .img-wrap {
        height: 140px;
    }

    #map-wrapper {
        .contact-info-wrap {
            width: 100%;
            height: 40%;
            .contact-info {
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 20px;
                width: max-content;
            }
        }
        #map {
            width: 100%;
            height: 60%;
            top: auto;
            bottom: 0;
        }
    }

    footer .footer-wrap {
        flex-direction: column;
        .copyright {
            margin: 5px 0;
        }
    }
}


@media screen and (max-width: 576.98px) {
    header {
        padding: 10px 0;
        nav #navbarMenu .navbar-nav li.lang-mobile .nav-link {
            padding: 8px 22px !important;
        }
    }

    #main {
        height: 450px;
        .carousel-item  {
            height: 450px;
            .container {
                height: 450px;
            }
        }
        .right-sec {
            h5 {
                font-size: 24px;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }

    #about .back-wrapper {
        .cover-about {
            height: 460px;
            .content-wrap {
                h1 {
                    font-size: 16px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        .about-img-wrap {
            width: 210px;
            height: 290px;
            top: 26%;
        }
        article {
            padding: 100px 0 20px;
        }
    }

    #references .custom-container {
        padding: 0 5.6%;
    }

    #social-media {
        padding: 45px 0 30px;
        h2 {
            margin-bottom: 30px;
        }
        ul {
            flex-wrap: wrap;
            li {
                margin: 15px 20px;
                width: calc(50% - 40px);
            }
        }
    }

    #map-wrapper {
        height: 600px;
    }

    footer {
        padding: 17.5px 0;
    }
}


@media screen and (max-width: 500px) {
    .dropdown-item {
        white-space: normal;
    }
    header nav {
        .navbar-brand img {
            width: 85px;
        }
        .navbar-toggler .menu-wrap {
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }
        #navbarMenu .navbar-nav {
            width: 90% !important;
            li.lang-mobile .nav-link {
                padding: 8px 12px !important;
            }
        }
        .price-order {
            padding-left: 40px;
            &::before, &::after {
                width: 30px;
            }
            &::after {
                width: 0;
            }
            &:hover::after {
                width: 30px;
            }
        }
    }

    #main {
        .right-sec {
            width: 48px;
        }
    }

    #services .service-wrapper .service:nth-child(1) .text-content h3 {
        font-size: 18px;
        padding: 0 14px;
    }

    #services .service-wrapper .service .service-text {
        font-size: 15px;
        padding: 0 10px;
    }

    #about .back-wrapper {
        .cover-about {
            height: 520px;
            .cover-img {
                background-size: 440%;
            }
            .content-wrap {
                h1 {
                    font-size: 15px;
                    width: 90%;
                }
                p {
                    width: 82%;
                }
            }
        }
       .about-img-wrap {
            height: 315px;
            .about-img {
                background-size: 440%;
                background-position: center -345px;
           }
       }
    }

    #references .custom-container {
        padding: 0 3%;
        .description {
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 15px;
            }
        }
        .ref-wrap {
            width: 33.33%;
            max-width: 100%;
            flex: none;
        }
    }

    #social-media {
        h2 {
            font-size: 22px;
        }
    }

    #map-wrapper {
        .contact-info-wrap {
            .contact-info {
                font-size: 14px;
                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .title-row {
        h3 {
            font-size: 20px;
        }
        .see-more {
            a {
                font-size: 12px;
            }
        }
    }

    #main .carousel-item .container .carousel-caption {
        h1 {
            font-size: 32px;
        }
        p {
            display: none;
        }
    }
}