/* general style */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura PT,Arial,Helvetica,sans-serif;
  font-weight: 400;
  color: #212121; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Mont Heavy,Arial,Helvetica,sans-serif;
  font-weight: 400; }

button:focus, input:focus, .btn:focus {
  outline: 0;
  box-shadow: none; }

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

a {
  color: #212121; }

.azn {
  font-family: azn;
  font-style: normal; }

.custom-btn {
  color: #fff;
  font-size: 18px;
  width: 240px;
  height: 56px;
  line-height: 56px;
  background-color: #22b0f3;
  -webkit-box-shadow: 0 20px 30px -18px #22b0f3;
  -moz-box-shadow: 0 20px 30px -18px #22b0f3;
  box-shadow: 0 20px 30px -18px #22b0f3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center; }
  .custom-btn:hover {
    background-color: #0090d5;
    color: #fff; }

.owl-stage-outer {
  margin-bottom: 0; }

.owl-nav.disabled, .owl-dots.disabled {
  display: none; }

.dropdown-menu-wrap .dropdown-toggle::after {
  content: '';
  border: 1px solid #fff;
  border-width: 0 2px 2px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: -3px;
  left: 2px;
  -webkit-transition: transform 300ms ease-in-out 0s;
  -moz-transition: transform 300ms ease-in-out 0s;
  -o-transition: transform 300ms ease-in-out 0s;
  transition: transform 300ms ease-in-out 0s; }
.dropdown-menu-wrap .dropdown-menu {
  top: calc(100% - 2px);
  display: block;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid #2354a5;
  -webkit-box-shadow: 0 15px 40px 0 #cdd1d3;
  -moz-box-shadow: 0 15px 40px 0 #cdd1d3;
  box-shadow: 0 15px 40px 0 #cdd1d3;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 200ms ease-in-out 0s;
  -moz-transition: all 200ms ease-in-out 0s;
  -o-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s; }
  .dropdown-menu-wrap .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 20px; }
    .dropdown-menu-wrap .dropdown-menu .dropdown-item:hover, .dropdown-menu-wrap .dropdown-menu .dropdown-item:focus {
      background-color: #f8f9fa; }
.dropdown-menu-wrap:hover .dropdown-toggle::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 0; }
.dropdown-menu-wrap:hover .dropdown-menu {
  display: block;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

/* header style */
header {
  background-image: linear-gradient(45deg, #2354a5, #548ace, #2354a5);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  header.sticky {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-image: none;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07); }
    header.sticky #navbarMenu .dropdown-toggle::after {
      border-color: #212121; }
    header.sticky #navbarMenu .nav-link {
      color: #212121 !important; }
    header.sticky .right-side .search-btn {
      color: #212121 !important; }
    header.sticky .right-side .calc-btn {
      background-color: #548ace !important;
      color: #fff; }
      header.sticky .right-side .calc-btn:hover {
        background-color: #2354a5 !important; }
  header .navbar {
    padding: 6px 40px; }
    header .navbar #navbarMenu .nav-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 10px;
      cursor: pointer; }
      header .navbar #navbarMenu .nav-item .nav-icon {
        width: 38px;
        height: 38px;
        -webkit-border-radius: 27%;
        -moz-border-radius: 27%;
        border-radius: 27%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 8px;
        background-color: #b0c9e8;
        margin-right: 5px; }
        header .navbar #navbarMenu .nav-item .nav-icon img {
          width: 100%; }
      header .navbar #navbarMenu .nav-item .nav-link {
        color: #fff;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px; }
    header .navbar .right-side .search-btn {
      color: #fff;
      margin-right: 10px; }
    header .navbar .right-side .calc-btn {
      background-color: #fcde4b;
      padding: 9px 40px;
      font-weight: 500; }
      header .navbar .right-side .calc-btn:hover {
        background-color: #e2bd03; }

/* main section style */
#main {
  height: 680px;
  overflow: hidden;
  position: relative; }
  #main .mainCarousel {
    position: relative; }
    #main .mainCarousel .item {
      height: 680px;
      position: relative; }
      #main .mainCarousel .item img {
        object-fit: cover;
        height: 100%; }
      #main .mainCarousel .item .slide-text-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0 50px 140px;
        width: 45%;
        height: 100%;
        background-image: linear-gradient(to right, #fff 20%, #fff 20%, rgba(255, 255, 255, 0.9) 60%, rgba(0, 0, 0, 0) 100%);
        filter: drop-shadow(80px 80px 80px rgba(255, 255, 255, 0.99));
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        z-index: 2; }
        #main .mainCarousel .item .slide-text-wrapper .slide-text {
          width: 90%; }
          #main .mainCarousel .item .slide-text-wrapper .slide-text h3 {
            color: #2a3139;
            font-weight: 500;
            font-size: 22px;
            height: 45px; }
          #main .mainCarousel .item .slide-text-wrapper .slide-text h1 {
            color: #2a3139;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 60px;
            height: 88px; }
          #main .mainCarousel .item .slide-text-wrapper .slide-text p {
            margin-bottom: 0;
            color: #37a0f0;
            font-size: 16px;
            height: 125px;
            margin-bottom: 60px; }
            #main .mainCarousel .item .slide-text-wrapper .slide-text p span {
              font-size: 50px;
              font-weight: 500; }
  #main .controls-wrapper {
    position: absolute;
    left: 55%;
    bottom: 5%;
    z-index: 2; }
    #main .controls-wrapper #customNavs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      #main .controls-wrapper #customNavs .owl-nav {
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background-color .4s ease,-webkit-transform .4s ease;
        transition: background-color .4s ease,-webkit-transform .4s ease;
        transition: background-color .4s ease,transform .4s ease;
        transition: background-color .4s ease,transform .4s ease,-webkit-transform .4s ease;
        position: relative;
        cursor: pointer; }
        #main .controls-wrapper #customNavs .owl-nav:before {
          content: '';
          position: absolute;
          top: 40%;
          border: 1px solid #39485b;
          border-width: 0 2px 2px 0;
          -webkit-border-radius: 0 2px 2px 2px;
          -moz-border-radius: 0 2px 2px 2px;
          border-radius: 0 2px 2px 2px;
          padding: 4px; }
        #main .controls-wrapper #customNavs .owl-nav.owl-prev:before {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
          left: 44%; }
        #main .controls-wrapper #customNavs .owl-nav.owl-next:before {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          left: 36%; }
    #main .controls-wrapper #customDots {
      padding: 0 15px; }
      #main .controls-wrapper #customDots .owl-dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #39485b;
        border: none;
        opacity: 1;
        position: relative;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background-color .4s ease;
        -moz-transition: background-color .4s ease;
        -o-transition: background-color .4s ease;
        transition: background-color .4s ease;
        margin: 0 15px;
        cursor: pointer; }
        #main .controls-wrapper #customDots .owl-dot svg {
          stroke: #f8f8f8;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          fill: transparent;
          stroke-width: 3px;
          stroke-dasharray: 94;
          stroke-dashoffset: 94; }
        #main .controls-wrapper #customDots .owl-dot:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 30px;
          height: 30px;
          border: 1px solid #39485b;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          opacity: 0; }
        #main .controls-wrapper #customDots .owl-dot.active {
          background-color: #f8f8f8; }
          #main .controls-wrapper #customDots .owl-dot.active:before {
            opacity: 1;
            -webkit-transition: opacity .2s ease;
            -moz-transition: opacity .2s ease;
            -o-transition: opacity .2s ease;
            transition: opacity .2s ease; }
          #main .controls-wrapper #customDots .owl-dot.active svg {
            -webkit-animation: fill-button 5s linear forwards;
            animation: fill-button 5s linear forwards; }
@-webkit-keyframes fill-button {
  0% {
    stroke-dashoffset: 94; }
  100% {
    stroke-dashoffset: 0; } }
@-moz-keyframes fill-button {
  0% {
    stroke-dashoffset: 94; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes fill-button {
  0% {
    stroke-dashoffset: 94; }
  100% {
    stroke-dashoffset: 0; } }
/* advantages section style */
#advantages {
  background-color: #f6f6f6;
  padding-top: 15px; }
  #advantages .advantageCarousel {
    padding: 20px 0; }
    #advantages .advantageCarousel .item {
      width: 140px;
      position: relative; }
      #advantages .advantageCarousel .item a {
        display: block;
        -webkit-transition: 300ms all ease;
        -moz-transition: 300ms all ease;
        -o-transition: 300ms all ease;
        transition: 300ms all ease; }
        #advantages .advantageCarousel .item a .img-wrap {
          width: 140px;
          height: 140px;
          overflow: hidden; }
          #advantages .advantageCarousel .item a .img-wrap img {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 5px;
            left: 20px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            object-fit: cover; }
          #advantages .advantageCarousel .item a .img-wrap svg {
            fill: none;
            stroke: #e08b2f;
            stroke-width: 2px;
            stroke-dasharray: 0px,1px;
            stroke-dashoffset: 0;
            stroke-linecap: round; }
        #advantages .advantageCarousel .item a h6 {
          margin: -15px 0 0;
          font-size: 14px;
          line-height: 16px;
          white-space: normal;
          text-align: center;
          font-weight: 700;
          font-family: Futura PT,Arial,Helvetica,sans-serif; }
        #advantages .advantageCarousel .item a.active svg, #advantages .advantageCarousel .item a:hover svg {
          -webkit-animation: loading 2500ms ease-out infinite alternate;
          animation: loading 2500ms ease-out infinite alternate; }
@-webkit-keyframes loading {
  100% {
    stroke-dasharray: 4px,6px;
    -webkit-transform: rotate(180 115 115);
    transform: rotate(180 115 115); } }
@-moz-keyframes loading {
  100% {
    stroke-dasharray: 4px,6px;
    -webkit-transform: rotate(180 115 115);
    transform: rotate(180 115 115); } }
@keyframes loading {
  100% {
    stroke-dasharray: 4px,6px;
    -webkit-transform: rotate(180 115 115);
    transform: rotate(180 115 115); } }
    #advantages .advantageCarousel .owl-nav button {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: 100%;
      color: #cecece;
      background-color: transparent;
      font-size: 44px;
      top: 0;
      margin: 0;
      padding: 0; }
      #advantages .advantageCarousel .owl-nav button.owl-prev {
        background-image: linear-gradient(90deg, #f6f6f6 68%, transparent);
        width: 140px;
        left: 0; }
        #advantages .advantageCarousel .owl-nav button.owl-prev span {
          right: 52px; }
      #advantages .advantageCarousel .owl-nav button.owl-next {
        background-image: linear-gradient(90deg, transparent, #f6f6f6 32%);
        width: 130px;
        right: 0; }
        #advantages .advantageCarousel .owl-nav button.owl-next span {
          left: 52px; }
      #advantages .advantageCarousel .owl-nav button.disabled {
        display: none; }
      #advantages .advantageCarousel .owl-nav button span {
        position: absolute;
        top: 38px; }

/* products section style */
#products {
  background-color: #f6f6f6;
  padding-top: 30px; }
  #products .left-side {
    padding-left: 90px;
    position: relative;
    z-index: 2; }
    #products .left-side .all-category-wrapper {
      width: 390px;
      height: 670px;
      margin-top: 90px;
      -webkit-box-shadow: 0 30px 43px -8px #c4c4c4;
      box-shadow: 0 30px 43px -8px #c4c4c4;
      position: relative; }
      #products .left-side .all-category-wrapper:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #000), to(transparent));
        background: linear-gradient(0deg, #000 40%, transparent); }
      #products .left-side .all-category-wrapper img {
        width: 100%; }
      #products .left-side .all-category-wrapper .link-btn {
        width: 48px;
        height: 48px;
        background-color: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 44px;
        left: 44px; }
        #products .left-side .all-category-wrapper .link-btn:before {
          content: '';
          position: absolute;
          top: 45%;
          left: 37%;
          border: 1px solid #39485b;
          border-width: 0 2px 2px 0;
          -webkit-border-radius: 0 2px 2px 2px;
          -moz-border-radius: 0 2px 2px 2px;
          border-radius: 0 2px 2px 2px;
          padding: 3px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      #products .left-side .all-category-wrapper .text-wrap {
        position: absolute;
        left: 35px;
        right: 35px;
        bottom: 35px;
        color: #fff; }
        #products .left-side .all-category-wrapper .text-wrap h2 {
          font-family: Futura PT,Arial,Helvetica,sans-serif;
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 20px; }
        #products .left-side .all-category-wrapper .text-wrap p {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 30px; }
        #products .left-side .all-category-wrapper .text-wrap .more-btn {
          width: 100%;
          font-size: 20px;
          font-weight: 500;
          border: 1px solid #afbbc6;
          color: #fff;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          padding: 16px;
          -webkit-transition: all 200ms ease-in-out 0s;
          -moz-transition: all 200ms ease-in-out 0s;
          -o-transition: all 200ms ease-in-out 0s;
          transition: all 200ms ease-in-out 0s; }
          #products .left-side .all-category-wrapper .text-wrap .more-btn:hover {
            background-color: #fff;
            color: #2354a5; }
  #products .right-side {
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #fff;
    padding: 10px 12.5% 50px 17.7%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    #products .right-side .product-wrapper {
      margin: 30px 15px;
      width: calc(33.33% - 30px); }
      #products .right-side .product-wrapper a {
        display: block; }
      #products .right-side .product-wrapper .product-wrap {
        background-color: #f6f6f6;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        height: 330px;
        position: relative; }
        #products .right-side .product-wrapper .product-wrap a {
          padding: 60px 24px;
          height: 100%;
          display: flex;
          align-items: center; }
          #products .right-side .product-wrapper .product-wrap a .product-advantage {
            position: absolute;
            top: 15px;
            left: 15px;
            display: flex;
            align-items: center;
            max-width: 50%; }
            #products .right-side .product-wrapper .product-wrap a .product-advantage img {
              width: 16px;
              margin-right: 5px; }
            #products .right-side .product-wrapper .product-wrap a .product-advantage span {
              font-size: 12px;
              line-height: 12px; }
            #products .right-side .product-wrapper .product-wrap a .product-advantage.free-installation span {
              color: #808080; }
            #products .right-side .product-wrapper .product-wrap a .product-advantage.self-clean span {
              color: #2354A5; }
          #products .right-side .product-wrapper .product-wrap a .img-wrap {
            overflow: hidden;
            max-height: 250px; }
            #products .right-side .product-wrapper .product-wrap a .img-wrap img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              -webkit-transition: -webkit-transform .25s ease-in-out;
              transition: -webkit-transform .25s ease-in-out;
              transition: transform .25s ease-in-out;
              transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out; }
          #products .right-side .product-wrapper .product-wrap a:hover .img-wrap img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
      #products .right-side .product-wrapper .product-info h5 {
        font-family: Futura PT,Arial,Helvetica,sans-serif;
        font-size: 18px;
        padding: 20px 0; }
      #products .right-side .product-wrapper .product-info .price-wrapper .new-price {
        font-size: 24px;
        font-weight: 700; }
      #products .right-side .product-wrapper.discounted-product .price-wrapper {
        display: flex;
        align-items: center; }
        #products .right-side .product-wrapper.discounted-product .price-wrapper .new-price {
          color: #f91f39;
          margin-right: 10px; }
        #products .right-side .product-wrapper.discounted-product .price-wrapper .old-price {
          font-weight: 500;
          text-decoration: line-through #f91f39; }

/* services section style */
/* #services {
    background-color: #f6f6f6;
    padding: 90px 0;
    .services-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        h6 {
            font-family: Futura PT,Arial,Helvetica,sans-serif;
            line-height: 1;
            letter-spacing: .02em;
            -webkit-transform: rotate(-90deg) translateY(-50%);
            transform: rotate(-90deg) translateY(-50%);
            -webkit-transform-origin: left;
            transform-origin: left;
            position: absolute;
            top: 50%;
            left: -11%;  
        }
        .service {
            margin: 15px;
            width: calc(25% - 30px);
            height: 150px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            background-color: #fff;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
            a {
                display: block;
                height: 100%;
                position: relative;
                -webkit-transition: all 200ms ease;
                -moz-transition: all 200ms ease;
                -o-transition: all 200ms ease;
                transition: all 200ms ease;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .5);
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
                    -webkit-transition: all 200ms ease;
                    -moz-transition: all 200ms ease;
                    -o-transition: all 200ms ease;
                    transition: all 200ms ease;
                }
                .background-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
                    display: none;
                    -webkit-transition: all 200ms ease;
                    -moz-transition: all 200ms ease;
                    -o-transition: all 200ms ease;
                    transition: all 200ms ease;
                }
                .service-info {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0 30px;
                    img {
                        width: 50px;
                        -webkit-transition: all 200ms ease;
                        -moz-transition: all 200ms ease;
                        -o-transition: all 200ms ease;
                        transition: all 200ms ease;
                    }
                    h4 {
                        font-family: Futura PT,Arial,Helvetica,sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1;
                        margin: 5px 0 0;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
                &:hover {
                    color: #fff;
                    &::before {
                        content: '';
                    }
                    .background-img {
                        display: block;
                    }
                }
            }
            &:hover {
                -webkit-box-shadow: 0 28px 53px -8px #c4c4c4;
                box-shadow: 0 28px 53px -8px #c4c4c4;
                transform: translateY(-10px);
            }

        }
    }
}*/
#services {
  background-color: #f6f6f6;
  padding: 90px 0;
  position: relative; }
  #services h6 {
    font-family: Futura PT,Arial,Helvetica,sans-serif;
    line-height: 1;
    letter-spacing: .02em;
    -webkit-transform: rotate(-90deg) translateY(-50%);
    transform: rotate(-90deg) translateY(-50%);
    -webkit-transform-origin: left;
    transform-origin: left;
    position: absolute;
    top: 50%;
    left: 5.5%; }
  #services .services-list {
    padding: 0 10px; }
    #services .services-list li {
      background: url("../img/check.png") no-repeat;
      background-size: 22px;
      background-position: 0px 5px;
      padding-left: 34px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500; }

/* about section style */
#about {
  background: url("../img/about.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0;
  color: #fff;
  position: relative; }
  #about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.6); }
  #about .about-info {
    position: relative;
    z-index: 1;
    width: 90%; }
    #about .about-info h2 {
      font-family: Futura PT,Arial,Helvetica,sans-serif;
      font-size: 26px;
      line-height: 1.5;
      margin-bottom: 30px; }
    #about .about-info article {
      font-size: 16px;
      line-height: 2;
      margin-bottom: 15px; }

/* partners section style */
#partners {
  background-color: #fff;
  padding: 90px 0 75px; }
  #partners .partners-wrapper {
    position: relative; }
    #partners .partners-wrapper h6 {
      font-family: Futura PT,Arial,Helvetica,sans-serif;
      line-height: 1;
      letter-spacing: .02em;
      -webkit-transform: rotate(-90deg) translateY(-50%);
      transform: rotate(-90deg) translateY(-50%);
      -webkit-transform-origin: left;
      transform-origin: left;
      position: absolute;
      top: 50%;
      left: -9%; }
    #partners .partners-wrapper .partner-box {
      padding: 15px;
      margin: 15px 0;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      height: 150px;
      border-radius: 4px;
      cursor: pointer; }
      #partners .partners-wrapper .partner-box img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(100%);
        opacity: 0.3;
        transition: 300ms all ease; }
      #partners .partners-wrapper .partner-box:hover img {
        filter: none;
        opacity: 1; }

/* question */
#question {
  background: url("../img/bg-question.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0px;
  position: relative;
  background-attachment: fixed; }
  #question .question-overlay {
    width: 100%;
    height: 100%;
    background-color: #3875b41c;
    position: absolute;
    z-index: 1;
    top: 0; }
  #question .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #question .content .question-text {
      z-index: 10; }
      #question .content .question-text h1 {
        font-size: 36px;
        color: #ffffff;
        font-weight: 700; }
      #question .content .question-text p {
        margin: 20px 0 0;
        font-size: 20px;
        color: #ebebeb;
        font-weight: 400; }
    #question .content .question-btn {
      z-index: 10; }
      #question .content .question-btn a {
        background-color: white;
        padding: 16px;
        font-size: 16px;
        color: #606160;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-weight: 600;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: none; }
        #question .content .question-btn a:hover {
          background-color: rgba(225, 225, 225, 0.9); }

/* footer style */
footer {
  background-color: #f6f6f6;
  padding: 50px 0 40px;
  color: #a6a6a6;
  font-size: 12px;
  line-height: 14px; }
  footer span img {
    margin-left: 5px; }
  footer span.siteBy {
    width: 17%;
    text-align: right; }
  footer .sosial-media-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .sosial-media-wrapper .social-media {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      footer .sosial-media-wrapper .social-media .social-icon {
        width: 28px;
        height: 28px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 6px; }
        footer .sosial-media-wrapper .social-media .social-icon a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #fff;
          position: relative; }
          footer .sosial-media-wrapper .social-media .social-icon a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: 300%;
            background-position: 0% 0%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86); }
          footer .sosial-media-wrapper .social-media .social-icon a:hover::before {
            background-position: top right; }
          footer .sosial-media-wrapper .social-media .social-icon a i {
            position: relative;
            z-index: 1; }
        footer .sosial-media-wrapper .social-media .social-icon:nth-child(1) a::before {
          background-image: linear-gradient(45deg, #a6a6a6 0%, #a6a6a6 49%, #5F7AAE 50%); }
        footer .sosial-media-wrapper .social-media .social-icon:nth-child(2) a::before {
          background-image: linear-gradient(45deg, #a6a6a6 0%, #a6a6a6 49%, #e6683c 50%, #dc2743 50%); }
        footer .sosial-media-wrapper .social-media .social-icon:nth-child(3) a::before {
          background-image: linear-gradient(45deg, #a6a6a6 0%, #a6a6a6 49%, #00acee 50%); }
        footer .sosial-media-wrapper .social-media .social-icon:nth-child(4) a::before {
          background-image: linear-gradient(45deg, #a6a6a6 0%, #a6a6a6 49%, #c4302b 50%); }
    footer .sosial-media-wrapper span {
      margin-top: 6px; }

/*# sourceMappingURL=style.css.map */
